<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk</title>

    <!-- Bootstrap 5 mini CDN Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/help.css">

</head>
<body>
    
    <div class="main_div shadow-lg">
        <div class="sub_div">
            <h1 class="p-2 text-light">Help Desk</h1>
        </div>
        <div class="text-start container">
            <div class="pt-4">
                <p class="text-light"><b>Frequently Asked Questions (FAQ)</b></p>
                <p class="text-light">At our Weather Forecasting and Air Quality Index (AQI) website, we aim to provide you with the information you need to stay informed about the weather and air quality in your area. Here, you'll find answers to common questions about our services and how to make the most of them.</p>
            </div>
            <div class="pt-3">
                <p class="text-light"><b>What Information Do You Provide?</b></p>
                <p class="text-light">We offer real-time weather forecasts, including temperature, precipitation, wind speed, and humidity data.
                    Our Air Quality Index (AQI) data categorizes air quality levels into "Good," "Moderate," and "Poor."
                    We monitor harmful gases like CO (Carbon Monoxide), CO2 (Carbon Dioxide), and NO2 (Nitrogen Dioxide) to help you understand the air quality.</p>
            </div>
            <div class="pt-3">
                <p class="text-light"><b>How Can I Use Your Website?</b></p>
                <p class="text-light">At our Weather Forecasting and Air Quality Index (AQI) website, we aim to provide you with the information you need to stay informed about the weather and air quality in your area. Here, you'll find answers to common questions about our services and how to make the most of them.</p>
            </div>
            <button class="mt-2 btn btn-light"><a style="text-decoration: none; color: black;" href="#">Contact Us</a></button>
        </div>
    </div>


</body>
</html>