*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.main_div{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 540px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.336);
}

.footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

.icons_div{
    justify-content: center;
    display: flex;
}

.icons{
    font-size: 20px;
    color: black;
}