*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("../img/bg-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg_design{
    background: rgba(0, 0, 0, 0.653);
    backdrop-filter: saturate(180%) blur(5px);
    width: 100%; 
    height: 100vh; 
}

.error_msg_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error_img{
    width: 150px; 
    height: 150px;
}